html{
    font-size: 12px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;
    background-color: #1a171a;
    color: #e5e5e1;
}

/* background-color: #1a171a; */
/* hsl(300, 10, 10) */

/* f4f4f2 */

.canvas {
    top: 0px;
    left: 0px;
    margin: 10px;
    outline: 1px solid red;

    position: absolute;
    display:block;
    pointer-events: none;
}

.root-child {
    position: absolute;
    display:block;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

.mini-button{
    /* background-color: red; */
    /* margin: 0px; */
    /* outline: 0px; */
    /* border: 0px; */
    padding: 1px 4px 3px 4px; /* top right bottom left */
    line-height: 1.0rem;
    text-align: center;
    align-content: center;
    position: absolute;
    /* align-items:end; */
    /* font-size: 12px; */
    vertical-align: middle;
    z-index: 10;
    /* display: block; */
    pointer-events: auto;
    cursor: default;
}

#move-box {
    transform-origin: center;
    pointer-events: auto;
    cursor: move;
    padding: 0px;
    line-height: 0px;
    
    /* border: 2px dashed rgb(0, 0, 0); */
    /* outline: 2px dashed rgb(255, 255, 255); */
    animation: dashAnimation 3s ease infinite;
}

#scale-box {
    transform-origin: center;
    pointer-events: auto;
    cursor: nw-resize;
    padding: 15px;
    line-height: 0px;
    /* outline: 2px solid rgb(0, 68, 255); */
}

#rotate-box {
    transform-origin: center;
    pointer-events: auto;
    cursor:grab;
    padding: 40px;
    line-height: 0px;
    /* outline: 2px solid rgb(255, 0, 0); */
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

@keyframes dashAnimation {
    0% {
        outline: 2px dashed white;
    }
    50%{
        outline: 2px dashed rgb(52, 52, 52);
    }
    100% {
        outline: 2px dashed white;
    }
}

label, button{
    border: 1px solid #939293;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #312e33;
    color: #b3afb3;
}

label:hover, button:hover{
    background-color: #413e42;
    color: #ccc8c8;
}

label:active, button:active{
    background-color: #4d484f;
    color: #e5e5e1;
}

@font-face {
    font-family: 'scriptFont';
    src: url('assets/NanumBrushScript-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.inputText {
    text-align: left;
    vertical-align: middle;
    background-color: transparent;
    border-width: 1px;
    padding: 0px;
    margin: 0px;
    resize: none;
    position: absolute;
}
